@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

nav {
  background-color: lightgray;
  text-align: left;
  display: flow-root;
  justify-content: space-between;
}

nav h2 {
  float: left;
  margin: 0 3rem 0 0;
  padding: 1.5rem 3rem 2rem 3rem;
  background-color: #222;
  color: whitesmoke;
  font-size: 2.8rem;
  font-family: "Gill Sans";
  font-weight: bolder;
  cursor: default;
}

ul {
  margin: 2rem auto;
}

ul li {
  display: inline-block;
  font-size: 2.2rem;
  margin: 0 3rem;
}

li a {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}

.container {
  padding: 2rem 1rem 2rem 2rem;
  min-height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #727272;
}

.card {
  display: inline-block;
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 5px 5px 5px 5px hsla(0, 0%, 0%, 0.9);
  text-align: center;
}

.card .card-image {
  max-width: 60%;
  min-width: 150px;
  min-height: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
  margin-bottom: 10px;
}

.card .card-name {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 8px;
  color: hsl(0, 0%, 30%);
  font-weight: 700;
}

.card .card-email {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #000000;
  text-align: center;
  color: white;
}

footer p {
  padding: 1.2rem 0;
  letter-spacing: 3px;
}
